/* BAS Style Kit - Apex Theme */

/* See https://style-kit.web.bas.ac.uk for more information on how to use these styles. */

/* Typography */
/* ------------------------------------------------------------------------------ */

@import url('https://cdn.web.bas.ac.uk/bas-style-kit/0.5.0-alpha/css/fonts-bsk.css');

body {
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Gill Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.t-Header {
	font-family: "Gill Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Scaffolding */
/* ------------------------------------------------------------------------------ */

.bsk-apex-margin-top-xl {
    margin-top: 64px;
}

/* Navbar */
/* ------------------------------------------------------------------------------ */

.t-Header .t-Header-logo {
    color: #ffffff !important;
    font-weight: bold;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.t-Header .t-Button {
    font-size: initial;
}

/* Footer */
/* ------------------------------------------------------------------------------ */

.bsk-apex-list-inline li {
    display: inline-block;
    list-style: none;
}

.bsk-apex-footer-divider {
    border-top: 1px solid #CCCCCC;
}
